# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.sqlite3
staticfiles/
media/
local_settings.py

# Ambientes virtuais
.env
.venv
venv/
env/

# Testes
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db
